[Unit]
Description=ASP.NET Income Planner API

[Service]
Type=oneshot
User=bitnami
Group=bitnami
RemainAfterExit=yes
WorkingDirectory=/home/bitnami/income-planner-api
ExecStart=screen -d -m -S income-planner-api ./RetirementIncomePlannerWebApi
ExecStop=screen -S income-planner-api -p 0 -X stuff \"^C\"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
